[submodule "VimCompletesMe"]
	path = VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "nginx.vim"]
	path = nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "plantuml-syntax"]
	path = plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "ale"]
	path = ale
	url = https://github.com/dense-analysis/ale.git
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-pug"]
	path = vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-vue"]
	path = vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim-yankstack"]
	path = vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-mustache-handlebars"]
	path = vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "Vim-Jinja2-Syntax"]
	path = Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim-slim"]
	path = vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-autoformat"]
	path = vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim-chef"]
	path = vim-chef
	url = https://github.com/vadv/vim-chef
[submodule "FastFold"]
	path = FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "omnisharp-vim"]
	path = omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
